@font-face {
    font-family: 'cwTeXYen';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
        url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
        url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cwTeXYen';
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  .header {
    background-color: #000;
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    margin-right: 20px;
  }
  
  .logo img {
    height: 80px;
    width: auto;
  }
  
  .site-name {
    color: #fff;
    font-size: 2em;
  }
  
  .nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .navtext {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    margin-left: 20px;
    transition: transform 0.3s;
  }
  
  .navtext:hover {
    transform: scale(1.1);
  }
  
  .displayout {
    position: relative;
  }
  
  .display {
    display: none;
    position: absolute;
    min-width: 150px;
    min-height: auto;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(68, 63, 63, 0.2);
    padding: 10px;
    font-size: 0.9em;
  }
  
  .displayout:hover .display {
    display: block;
    background-color: #c8c8c8;
    transform: translateX(-20%);
    white-space: nowrap;
    border-radius: 5px;
  }
  
  .display ul {
    list-style-type: none;
    padding: 0;
  }
  
  .display ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .litext {
    color: #000;
    text-decoration: none;
  }
  
  .litext:hover {
    color: #555;
    width: 30%;
  }
    /* ------------------------------------ */
    .ti{
      padding: 30px 0px 10px 0px;
      color: rgb(60, 60, 60);
      background-image: linear-gradient(black,white);
      font-size: 40px;
      width: 100vw;
      
    }
    body {
      margin: 0;
      padding: 0;
    }
    .container{
      display: flex;
      justify-content: center;
      padding: 10px;
    }
    .wire{
      width: 96%;
      
    }
    .background-image {
      height: 60vh;
      width: 90vw;
      display: flex;
      justify-content: center;
      align-items: end;
      background-image: url('../courtimg/Tianmu.jpg'); 
      background-size: cover;
      background-position: center;
      color: rgb(255, 255, 255);
      font-size: larger;
      border-radius: 10px;
    }
    .bg_table{
      border-radius: 20px;
      background-color: rgb(9, 9, 9,0.5);
  
    }
    .my-table {
      border-collapse: collapse;
    }
    
    .my-table th, .my-table td {
      border: none;
      color: white;
      padding: 5px;
      
  
    }
    caption{
      font-size: 250%;
      color: rgb(255, 255, 255);
      
    }
    .Information{
      display: flex;
      width: 90vw;
      margin: 0 auto;
    }
    .Information table {
      width: 100%;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      align-content: center;
    }
  
    .Information th, .Information td {
      padding: 15px;
      
    }
  
    .Information th {
      width: 80vw;
      background-color: #000000;
      color: #ffffff;
      font-weight: bold;
      
    }
    .detail {
      margin-top: 20px;
      padding: 10px;
      background-color: #f5f5f5;
      border-radius: 5px;
      margin-bottom: 10px;
  }
  
  .detail h2 {
      color: #333;
      font-size: 30px;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
      background-color: #000000;
      color: #e7e7e7;
      width: 10vw;
      
  }
  .detail h3 {
      color: #e7e7e7;
      font-size: 20px;
      margin-bottom: 10px;
      padding: 5px;
      background-color: #585858;
      width: 10vw;
  }
  .detail ul {
      padding: 10px;
      list-style-type: disc;
      padding-left: 20px;
      margin-bottom: 10px;
  }
  
  .detail li {
      margin-bottom: 5px;
  }
  
  
   iframe {
    position: absolute;
    width: 100%;
    height: 70%;
    border: 0;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(white,black,black);
    margin-top: 550px;
    width: 100vw;
  }
  
  .footer {
    color: white;
    padding: 20px;
    display: flex;
  }
  
  .left-logo {
    width: 100px;
  }
  
